<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <meta charset="UTF-8">
        <title>Supporters Solidaires</title>
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    </head>
        
    <body>
        <header>
            <h1>Supporters Solidaires</h1>
            
            <nav>
                <div class="icons">
                    <i class="fa-solid fa-burger"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <ul>
                    <li><a href="home.html">Accueil</a></li>
                    <li><a href="jeu.html">Jeu concours</a></li>
                    <li><a href="elections.html">Élections</a></li>
                    <li><a href="identification.html">S'identifier</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h1>À propos de Supporters Solidaires</h1>
            <p>
                L’association Supporters Solidaires déploie, en France et dans le monde (Focus : Afrique) des programmes bénéfiques aux personnes aveugles. Son but essentiel est de changer l’image d’invalides, d’incapables, d’inaptes que le grand-public porte sur ces acteurs et, de les inscrire durablement dans une posture de porteurs d’aptitudes, d’adaptitudes, de compétences.
                <br />
                <br />
                Le football pour aveugles est notre locomotive.
                <br />
                <br />
                Nous créons et développons des pôles de performances (pour des jeunes aveugles, pour des femmes aveugles, pour des athlètes à forts potentiels), des centres techniques d’entraînement (pour des collectifs nationaux), des séminaires de formation spécifiques des cadres (entraineurs, arbitres, guides), des évènementiels sportifs (compétitions continentales, mondiales), des projets-pilotes d’autonomie (permettant à la personne aveugle de se mouvoir librement et sans assistance dans nos espaces-projets), des dispositifs itinérants de diagnostics et de prévention… 
                <br />
                <br />
                Dans le secteur du sport, elle est, en France, partenaire de la Fédération Française Handisport (pour la gestion des équipes de France masculines et féminines); supporters Solidaires collabore dans le monde avec  la Fédération Internationale des Sports pour Aveugles (pour le développement du football pour aveugles, plus particulièrement en Afrique. Dans le cadre général de ses programmes, l’association collabore également avec l’Union Mondiale des Aveugles (particulièrement en Afrique). 
                Dans le secteur de la recherche médicale, Supporters Solidaires s’associe à l’Institut de la Vision de Paris et dans d’autres thèmes (inclusion, accessibilité, formation, autonomie ou insertion), notre organisation collabore avec d’autres partenaires ciblés, pour que les aveugles ne soient plus hors-jeu !
            </p>
        
            <h1>Les actions de la mi-temps</h1>
            <p>

                Présent aux matchs de Cécifoot en cours aux Jeux Paralympiques de Paris 2024, et si l’on vous donnait la possibilité de gagner un maillot de football d’une des STARS DU FOOTBALL évoluant dans de grands clubs prestigieux, DÉDICACÉ par ces joueurs eux-mêmes ! Sympa non ? <br /><br />
                En même temps, que diriez vous d’élire un meilleur joueur ainsi qu’un meilleur gardien de la compétition/de chaque match ? 
                <br /><br />
                Cette page internet vous permet d’intéragir avec toutes ses propositions : Rendez-vous dans les onglets ‘Élections’ et ‘Jeu concours’ !
                
            </p>
    
        </section>

        <footer>
            <p>2022 &copy; Supporters Solidaires - Tous Droits Réservés - <a href="mailto:t.akpweh@gmail.com" target="_self">Nous contacter</a></p>
        </footer>
        <script src="../js/burger.js"></script>
    </body>
</html>
